[Unit]
Description=tangram-xtgwallet
After=network.online.target
Wants=network-online.target

StartLimitIntervalSec=500
StartLimitBurst=5

[Service]
Type=notify
Restart=on-failure
RestartSec=5s

User=tangram-xtgmwallet
Group=tangram-xtgmwallet

WorkingDirectory=/opt/tangram/bamboo/
ExecStart=/opt/tangram/bamboo/clibamwallet

[Install]
WantedBy=multi-user.target
